* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    color: blue;
}

/* headings and logo */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: red;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
    position: relative;
    top: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid green;
}

.active {
    border-bottom: 1px solid green;
}
