@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #404040;
}

/* headings and logo */

h1, h2 {
    font-family: 'Abyssinica SIL', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0F60B6;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
    position: relative;
    top: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid green;
}

.active {
    border-bottom: 1px solid green;
}

/* hero image and text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text, #hero-text h2 {
    color: #fff;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/game.jpg') no-repeat center center;
    position: relative;
    top: 50px;
}

#hero-text {
    font-size: 130%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 230px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(64, 64, 64, 0.6);

    bottom: 100px;
    right: 150px;

    position: absolute;
}

#key-info {
    height: 700px;
}

#left-info {
    padding-top: 30px;
    width: 40%;
    float: left;
}

#right-info {
    padding-top: 30px;
    width: 40%;
    float: right;
}

hr {
    border-top: 1px solid orchid;
    width: 100%;
    margin: 5px 0;
}

.left-info-section {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 60px;
}

.right-info-section {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

.right-info-section h2, .right-info-section p {
    text-align: right;
}


#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}